body {
    font-family: Courier New;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #121214;
}

h1, h2, h3 {
    color: #161514;
    text-align: center;
}
.bold-text{
    font-weight: bold;
}

.section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для фиксированного меню */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #bd0df3;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Стили для формы */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #555;
}
.project {
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.project-image:hover {
    transform: scale(1.05);
}
/* Подвал */
.footer {
            background-color: #bd0df3;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
